*.pyc
asm/*.o
asm/add.6
asm/add_att_debug
asm/add_att_release
asm/add_intel_debug
asm/add_intel_release
asm/add_main
asm/hello/*.o
asm/hello/.ninja_deps
asm/hello/.ninja_log
asm/hello/hello_att_x64
asm/rayseyfarth/ch01/*.o
asm/rayseyfarth/ch01/.ninja_deps
asm/rayseyfarth/ch01/.ninja_log
asm/rayseyfarth/ch01/exit
asm/rayseyfarth/ch02/*.o
asm/rayseyfarth/ch02/.ninja_deps
asm/rayseyfarth/ch02/.ninja_log
buf/.ninja_deps
buf/.ninja_log
buf/*.o
buf/buf_test
buf/out/
c/apps/*.o
c/apps/.ninja_deps
c/apps/.ninja_log
c/apps/echo_server/*.o
c/apps/echo_server/.ninja_deps
c/apps/echo_server/.ninja_log
c/apps/echo_server/client
c/apps/echo_server/server
c/apps/echo_server/tcpcli01
c/apps/echo_server/tcpserv01
c/apps/imap/*.o
c/apps/imap/.ninja_deps
c/apps/imap/.ninja_log
c/apps/imap/imap
c/tools/md5/*.o
c/tools/md5/md5
c++/chrome_bookmarks_reader/out
c++/read_file/out
c++/sfml/examples/circle/circle
go/fetch
go/git_log
go/hello
go/hello_world
go/hello_www
go/tour/.ninja_deps
go/tour/.ninja_log
go/tour/out
java/ant/build
mysql/php/apps/distwi/access_log.txt
mysql/php/apps/distwi/error_log.txt
mysql/php/apps/twitwi/access_log.txt
mysql/php/apps/twitwi/error_log.txt
mysql/php/tutorial/ducati_2.png
python/webpy/webpyauth/sessions/
sqlite/*.o
sqlite/.ninja_deps
sqlite/.ninja_log
sqlite/create_user_table
sqlite/create_users_db
sqlite/delete_from_user_table
sqlite/insert_into_user_table
sqlite/out
sqlite/select_from_user_table
sqlite/update_user_table
sqlite/users.cgi
sqlite/users.db
vec/*.o
vec/.ninja_deps
vec/.ninja_log
vec/vec_test
