*.pyc
asm/*.o
asm/add_main
asm/add.6
buf/.ninja_deps
buf/.ninja_log
buf/*.o
buf/main
go/fetch
go/git_log
go/hello
go/hello_world
go/hello_www
go/tour/.ninja_deps
go/tour/.ninja_log
go/tour/slide1
go/tour/slide3
go/tour/slide4
go/tour/slide5
go/tour/slide6
go/tour/slide7
go/tour/slide8
go/tour/slide9
go/tour/slide10
go/tour/slide11
go/tour/slide12
go/tour/slide13
go/tour/slide14
go/tour/slide15
go/tour/slide16
go/tour/slide17
go/tour/slide18
go/tour/slide19
go/tour/slide20
go/tour/slide21
go/tour/slide22
go/tour/slide23
go/tour/slide26
go/tour/slide27
go/tour/slide28
go/tour/slide29
go/tour/slide30
go/tour/slide31
go/tour/slide32
mysql/php/access_log.txt
mysql/php/error_log.txt
mysql/php/twitwi/access_log.txt
mysql/php/twitwi/error_log.txt
sqlite/*.o
sqlite/.ninja_deps
sqlite/.ninja_log
sqlite/create_user_table
sqlite/create_users_db
sqlite/delete_from_user_table
sqlite/insert_into_user_table
sqlite/out
sqlite/select_from_user_table
sqlite/update_user_table
sqlite/users.db
vec/*.o
vec/.ninja_deps
vec/.ninja_log
vec/main
