*.pyc
ada/*.ali
ada/*.o
ada/.ninja_deps
ada/.ninja_log
ada/echoserver
ada/hello
asm/*.o
asm/add.6
asm/add_att_debug
asm/add_att_release
asm/add_intel_debug
asm/add_intel_release
asm/add_main
asm/boot0/boot0.bin
asm/boot0/boot0.o
asm/boot0/floppy.img
asm/hello/baremetal/boot0
asm/hello/baremetal/hello
asm/hello/baremetal/hello.o
asm/hello/out/
asm/rayseyfarth/ch01/exit
asm/rayseyfarth/ch01/.ninja_deps
asm/rayseyfarth/ch01/.ninja_log
asm/rayseyfarth/ch01/*.o
asm/rayseyfarth/ch02/.ninja_deps
asm/rayseyfarth/ch02/.ninja_log
asm/rayseyfarth/ch02/*.o
buf/out/
c/apps/*.o
c/apps/.ninja_deps
c/apps/.ninja_log
c/apps/buildtime
c/apps/echo/*.o
c/apps/echo/.ninja_deps
c/apps/echo/.ninja_log
c/apps/echo/tcpcli01
c/apps/echo/tcpserv01
c/apps/imap/imap
c/apps/imap/.ninja_deps
c/apps/imap/.ninja_log
c/apps/imap/*.o
c/apps/network/.ninja_deps
c/apps/network/.ninja_log
c/apps/network/*.o
c/apps/network/echo/*.o
c/apps/network/echo/.ninja_deps
c/apps/network/echo/.ninja_log
c/apps/network/echo/tcpclient
c/apps/network/echo/tcpserver
c/apps/network/getaddrinfo/out/
c/apps/network/hostname
c/apps/network/res
c/apps/network/selectserver
c/apps/network/showip/out/
c/apps/network/timeserver
c/apps/network/udpclient
c/apps/network/udpserver
c/apps/network/webserver/.ninja_deps
c/apps/network/webserver/.ninja_log
c/apps/network/webserver/*.o
c/apps/network/webserver/webserver
c/apps/readfile
c/apps/select/out/
c/apps/sizeck/out/
c/mysql/*.o
c/mysql/.ninja_deps
c/mysql/.ninja_log
c/mysql/mysql_version
c/tools/md5/*.o
c/tools/md5/md5
c++/chrome_bookmarks_reader/out
c++/libs/read_file/out
c++/sfml/examples/circle/circle
d/hello/hello
d/hello/hello.o
go/fetch
go/git_log
go/hello
go/hello_world
go/hello_www
go/tour/.ninja_deps
go/tour/.ninja_log
go/tour/out
go/webapps/hello
java/ant/build
java/zetcodetutorial/build
java/zetcodetutorial/sample.db
java/zetcodetutorial/javaswingtutorial/firstprograms/build
java/zetcodetutorial/javaswingtutorial/firstprograms/sample.db
mysql/php/apps/distwi/access_log.txt
mysql/php/apps/distwi/error_log.txt
mysql/php/apps/twitwi/access_log.txt
mysql/php/apps/twitwi/error_log.txt
mysql/php/tutorial/ducati_2.png
python/flask/intro/app1/rocket.pid
python/webpy/webpyauth/sessions/
sqlite/*.o
sqlite/.ninja_deps
sqlite/.ninja_log
sqlite/create_user_table
sqlite/create_users_db
sqlite/delete_from_user_table
sqlite/insert_into_user_table
sqlite/out
sqlite/select_from_user_table
sqlite/update_user_table
sqlite/users.cgi
sqlite/users.db
vec/*.o
vec/.ninja_deps
vec/.ninja_log
vec/vec_test
