###
### Example of echod.conf file.
###

### See echod.conf(5) for more information.

###
### SERVICE
###

#
# Start as a daemon.
#
# By default Echod does not run as a daemon. Set to 'yes' to enable.
#
Daemonize no

#
# Pid file.
#
# If pidfile is specified, Echod will write its process id to
# the specified file at startup.
#
PidFile "/var/run/echod.pid"

###
### LOGGING
###

#
# Log file.
#
# If logfile is specified, Echod will additionally use it to write
# log events.
#
LogFile "/var/log/echod.log"
