.table {
  border: 1px solid #dddddd;
}

.table thead > tr > th {
  border-bottom: none;
}

.form-signin {
  max-width: 330px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 8px;
  margin: 0 auto;
}

.form-signin .form-signin-heading {
  margin-bottom: 22px;
  text-align: center !important;
}

.form-sign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.panel-signin {
  max-width: 330px;
  margin: 0 auto;
  padding-top: 4.8rem;
}

.panel-signup {
  max-width: 330px;
  margin: 0 auto;
  text-align: center !important;
}

.content {
  padding-top: 50px;
}
