body {
  #position: relative;
  z-index: 0;
  #margin: 0;
  #padding: 0 0 1em;
#  padding-top:50px;
  font: .8em Arial,Helvetica,sans-serif;
  color: #000;
  background: #fff;
}

.header {
  height: 40px;
  border-bottom: 1px solid #EEE;
  background-color: #ffffff;
}

.footer {
    height: 46px;
    z-index: 1;
    position: relative;
}

.footer-line {
    padding: 0 24px;
}

.footer-line_bottom {
    color: #999;
    height: 46px;
    font-size: 12px;
    overflow: hidden;
    line-height: 46px;
}

.inline-block {
    display: inline-block;
    position: relative;
}

.footer-copyright {
    float: right;
}

.message {
  color: #4F8A10;
  background-color: #DFF2BF;
  width: 100%;
}

.error {
    padding: 3px;
    font-size: 90%;
    color: #D8000C;
    background-color: #FFBABA;
}

input[type="text"] {
    border: 1px solid #AAA;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

#content {
float:right;
width:80%;
}
#left-navbar{
float:right;
width:20%;
}
