$def with (bookmarks)

<p><center><h1>lec.ker</h1></center></p>
<p><hr/></p>
<form name="bookmarks" method="post" action="delete">
<p><input type="submit" value="Delete" /></p>
<table border="0" width="100%">
  $for bookmark in bookmarks:
  <tr>
    <td><input type="checkbox" name="$bookmark.id" value="1"><a href="$bookmark.url">$bookmark.title</a></td>
    <td align="right">
      <a href="edit/$bookmark.id">edit</a>
    </td>
  </tr>
</table>
</form>
<p><hr/></p>
<h3>Add bookmark</h3>
<form name="add" method="post" action="add">
  <table>
    <tbody>
      <tr>
        <th>
          <label for="title">Title:</label>
        </th>
        <td>
           <input type="text" id="title" name="title"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="url">Url:</label>
        </th>
        <td>
           <input type="text" id="url" name="url"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="Add"></label>
        </th>
        <td>
          <button id="Add" name="Add">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
