<!doctype html>
<html>
<head>
  <title>Stripe Payment</title>

  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/main.css') }}">

  <script type="text/javascript" src="https://js.stripe.com/v2/">
  </script>

  <script type="text/javascript"
          src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}">
  </script>

  <script type="text/javascript"
          src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
  </script>

  <script type="text/javascript"
          src="{{ url_for('static', filename='js/global.js') }}">
  </script>

</head>
<body>
  <div class="template">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
